html, body
{
	width: 100%;
	margin: 0;
}

#header
{
	background-color: #ef1414;
	width: 100%;
	margin: 0;
}

#test {
	background-image: url('../img/top.png');
	background-size:30px 30px;
	background-repeat: repeat-x;
	position: fixed;
	left:0;
	top:0;
	
	height: 30 px;
	width: 100%;
	
    font-size:24px;
    color: #FFFFFF;
    text-align:left;
}


#crest
{
width: 52.5px;
height: 79.5px; 
}
#crestDiv
{
	position: fixed;
	left:0;
	top:0;
	
}
#engrHeader
{
	text-align: center;
	color: #FFFFFF;
	background-image: url('../img/top.png');
	background-size:30px 80px;
	background-repeat: repeat-x;
	position: fixed;
	left:0;
	top:0;
	
	height: 30 px;
	width: 100%;
	
	
}
h1
{
	font-size: 1.2em;
}

h2
{
	font-size: 1em;
}


#printme
{
	margin-top:80px;
	margin-bottom:30px;
}

#opt {
	background-image: url('../img/top.png');
	background-size:30px 30px;
	background-repeat: repeat-x;
	position: fixed;
	left:0;
	bottom:0;
	
	
	
	height: 30 px;
	width: 100%;
	
    font-size:24px;
    color: #FFFFFF;
    text-align:left;
}




table
{
	border-collapse: collapse;
}

table, th, td
{
	border: 1px solid black;
	font-size: 0.9em;
	padding: 0em;
}

tr:nth-child(odd) 
{
	background-color: #fafafa;
}
 
tr:nth-	child(even)
{
    background-color: #efefef;
}	