/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E8E6D1;
}

h1
{
	font-size: 1.2em;
}

h2
{
	font-size: 1em;
}


#crest
{
width: 52.5px;
height: 79.5px; 
}
#crestDiv
{
	position: fixed;
	left:0;
	top:0;
	
}


#engrHeader {
	background-image: url('../img/top.png');
	background-size:30px 80px;
	background-repeat: repeat-x;
	position: fixed;
	left:0;
	top:0;
	
	height: 80px;
	width: 100%;
	
    color: #FFFFFF;
    text-align:Center;
}

#middle{
	margin-top:80px;
	margin-bottom:30px;

}

#bot{
	color:inherit;
	text-decoration:inherit;
	
}

#opt {
	background-image: url('../img/top.png');
	background-size:30px 35px;
	background-repeat: repeat-x;
	position: fixed;
	left:0;
	bottom:0;
	
	
	
	height:35px;
	width: 100%;
	
    font-size:24px;
    color: #FFFFFF;
    text-align:left;
    
    
}



table,td,tr
{ 
table-layout: fixed;

margin-left: auto;
margin-right: auto;
}
td,tr{
	width: 50%;
	height: auto;
}


